<!DOCTYPE html>
<html lang="ja">
  <head>

<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="stylesheet" href="ranking.css">

  </head>
  <body>
    <header>


    </header>
    <div class="rankingbody">

       <div class="rankingtitle">


         <p1>ф╛бца╝уГйуГ│уВнуГ│уВ░</p1><br>
           <p1>of</p1><br>
         <p1>Luxury</p1><br>

       </div>


       <div class="rankingcontent1">
         <img class="rank" src="/1ф╜Н.png">

         <div class="cp_cssslider1">
           <input type="radio" name="cp_switch1" id="photo1" checked/>
             <label for="photo1"><img src="/уВвуВдуВ│уГ│щЭТ.png" ></label>
             <img src="/уВвуВдуВ│уГ│щЭТ.png">
           <input type="radio" name="cp_switch1" id="photo2"/>
             <label for="photo2"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
             <img src="/уВвуВдуВ│уГ│ш╡д.png">
           <input type="radio" name="cp_switch1" id="photo3"/>
             <label for="photo3"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
             <img src="/уВвуВдуВ│уГ│ч╖С.png">
           <input type="radio" name="cp_switch1" id="photo4"/>
             <label for="photo4"><img src="/чП╛хЬихЬ░.png"></label>
             <img src="/чП╛хЬихЬ░.png">
           <input type="radio" name="cp_switch1" id="photo101" checked/>
             <label for="photo101"><img src="/уВвуВдуВ│уГ│щЭТ.png" ></label>
             <img src="/уВвуВдуВ│уГ│щЭТ.png">
           <input type="radio" name="cp_switch1" id="photo102"/>
             <label for="photo102"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
             <img src="/уВвуВдуВ│уГ│ш╡д.png">
           <input type="radio" name="cp_switch1" id="photo103"/>
             <label for="photo103"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
             <img src="/уВвуВдуВ│уГ│ч╖С.png">
           <input type="radio" name="cp_switch1" id="photo104"/>
             <label for="photo104"><img src="/чП╛хЬихЬ░.png"></label>
             <img src="/чП╛хЬихЬ░.png">

         </div>

        <div class=sentence2>
         <p>уБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБп</p>

        <div class="form2">
         <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
         <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
         <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
         <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
         уААуААуААуАА


        </div>





       </div>

       <div class="rankingcontent2">
         <img class="rank" src="/2ф╜Н.png">

         <div class="cp_cssslider2">
           <input type="radio" name="cp_switch2" id="photo5" checked/>
             <label for="photo5"> <img src="/чП╛хЬихЬ░.png"></label>
             <img src="/чП╛хЬихЬ░.png">
           <input type="radio" name="cp_switch2" id="photo6"/>
             <label for="photo6"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
             <img src="/уВвуВдуВ│уГ│ч╖С.png">
           <input type="radio" name="cp_switch2" id="photo7"/>
             <label for="photo7"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
             <img src="/уВвуВдуВ│уГ│ш╡д.png">
           <input type="radio" name="cp_switch2" id="photo8"/>
             <label for="photo8"><img src="/чП╛хЬихЬ░.png"></label>
             <img src="/чП╛хЬихЬ░.png">
             <input type="radio" name="cp_switch2" id="photo105" checked/>
               <label for="photo105"> <img src="/чП╛хЬихЬ░.png"></label>
               <img src="/чП╛хЬихЬ░.png">
             <input type="radio" name="cp_switch2" id="photo106"/>
               <label for="photo106"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
               <img src="/уВвуВдуВ│уГ│ч╖С.png">
             <input type="radio" name="cp_switch2" id="photo107"/>
               <label for="photo107"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
               <img src="/уВвуВдуВ│уГ│ш╡д.png">
             <input type="radio" name="cp_switch2" id="photo108"/>
               <label for="photo108"><img src="/чП╛хЬихЬ░.png"></label>
               <img src="/чП╛хЬихЬ░.png">
         </div>

               <p>уБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБп</p>

               <div class="form2">
                <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
                <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
                <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
                <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
                уААуААуААуАА


               </div>



       </div>


       <div class="rankingcontent3">
          <img class="rank" src="/3ф╜Н.png">


          <div class="cp_cssslider3">
            <input type="radio" name="cp_switch3" id="photo9" checked/>
              <label for="photo9"><img src="/уВвуВдуВ│уГ│щЭТ.png" ></label>
              <img src="/уВвуВдуВ│уГ│щЭТ.png">
            <input type="radio" name="cp_switch3" id="photo10"/>
              <label for="photo10"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
              <img src="/уВвуВдуВ│уГ│ш╡д.png">
            <input type="radio" name="cp_switch3" id="photo11"/>
              <label for="photo11"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
              <img src="/уВвуВдуВ│уГ│ч╖С.png">
            <input type="radio" name="cp_switch3" id="photo12"/>
              <label for="photo12"><img src="/чП╛хЬихЬ░.png"></label>
              <img src="/чП╛хЬихЬ░.png">
              <input type="radio" name="cp_switch3" id="photo109" checked/>
                <label for="photo109"><img src="/уВвуВдуВ│уГ│щЭТ.png" ></label>
                <img src="/уВвуВдуВ│уГ│щЭТ.png">
              <input type="radio" name="cp_switch3" id="photo110"/>
                <label for="photo110"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
                <img src="/уВвуВдуВ│уГ│ш╡д.png">
              <input type="radio" name="cp_switch3" id="photo111"/>
                <label for="photo111"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
                <img src="/уВвуВдуВ│уГ│ч╖С.png">
              <input type="radio" name="cp_switch3" id="photo112"/>
                <label for="photo112"><img src="/чП╛хЬихЬ░.png"></label>
                <img src="/чП╛хЬихЬ░.png">

          </div>

         <p>уБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБп</p>
         <div class="form2">
          <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
          <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
          <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
          <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
          уААуААуААуАА


         </div>


       </div>

       <div class="rankingcontent4">
          <img class="rank" src="/4ф╜Н.png">

          <div class="cp_cssslider4">
            <input type="radio" name="cp_switch4" id="photo13" checked/>
              <label for="photo13"><img src="/уВвуВдуВ│уГ│щЭТ.png" ></label>
              <img src="/уВвуВдуВ│уГ│щЭТ.png">
            <input type="radio" name="cp_switch4" id="photo14"/>
              <label for="photo14"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
              <img src="/уВвуВдуВ│уГ│ш╡д.png">
            <input type="radio" name="cp_switch4" id="photo15"/>
              <label for="photo15"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
              <img src="/уВвуВдуВ│уГ│ч╖С.png">
            <input type="radio" name="cp_switch4" id="photo16"/>
              <label for="photo16"><img src="/чП╛хЬихЬ░.png"></label>
              <img src="/чП╛хЬихЬ░.png">
              <input type="radio" name="cp_switch4" id="photo113" checked/>
                <label for="photo113"><img src="/уВвуВдуВ│уГ│щЭТ.png" ></label>
                <img src="/уВвуВдуВ│уГ│щЭТ.png">
              <input type="radio" name="cp_switch4" id="photo114"/>
                <label for="photo114"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
                <img src="/уВвуВдуВ│уГ│ш╡д.png">
              <input type="radio" name="cp_switch4" id="photo115"/>
                <label for="photo115"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
                <img src="/уВвуВдуВ│уГ│ч╖С.png">
              <input type="radio" name="cp_switch4" id="photo116"/>
                <label for="photo116"><img src="/чП╛хЬихЬ░.png"></label>
                <img src="/чП╛хЬихЬ░.png">
          </div>

         <p>уБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБп</p>

         <div class="form2">
          <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
          <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
          <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
          <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
          уААуААуААуАА


         </div>



       </div>

       <div class="rankingcontent5">
         <img class="rank" src="/5ф╜Н.png">

         <div class="cp_cssslider5">
           <input type="radio" name="cp_switch5" id="photo17" checked/>
             <label for="photo17"><img src="/уВвуВдуВ│уГ│щЭТ.png" ></label>
             <img src="/уВвуВдуВ│уГ│щЭТ.png">
           <input type="radio" name="cp_switch5" id="photo18"/>
             <label for="photo18"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
             <img src="/уВвуВдуВ│уГ│ш╡д.png">
           <input type="radio" name="cp_switch5" id="photo19"/>
             <label for="photo19"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
             <img src="/уВвуВдуВ│уГ│ч╖С.png">
           <input type="radio" name="cp_switch5" id="photo20"/>
             <label for="photo20"><img src="/чП╛хЬихЬ░.png"></label>
             <img src="/чП╛хЬихЬ░.png">
             <input type="radio" name="cp_switch5" id="photo117" checked/>
               <label for="photo117"><img src="/уВвуВдуВ│уГ│щЭТ.png" ></label>
               <img src="/уВвуВдуВ│уГ│щЭТ.png">
             <input type="radio" name="cp_switch5" id="photo118"/>
               <label for="photo118"><img src="/уВвуВдуВ│уГ│ш╡д.png" ></label>
               <img src="/уВвуВдуВ│уГ│ш╡д.png">
             <input type="radio" name="cp_switch5" id="photo119"/>
               <label for="photo119"><img src="/уВвуВдуВ│уГ│ч╖С.png" ></label>
               <img src="/уВвуВдуВ│уГ│ч╖С.png">
             <input type="radio" name="cp_switch5" id="photo120"/>
               <label for="photo120"><img src="/чП╛хЬихЬ░.png"></label>
               <img src="/чП╛хЬихЬ░.png">
         </div>

           <p>уБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБпуБпуВУуБлуБбуБпуБУуВУуБлуБбуБп</p>


           <div class="form2">
            <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
            <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
            <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
            <p><span class="mgr1">ф║Ич┤Д</span> <a href="http://192.168.1.198:3000/shop4">уБгуБгуБгуБг</a></p>
            уААуААуААуАА


           </div>

         <a href="#" class="btn-circle-flat">MAP</a>


       </div>








    </div>
























   <!-- ЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвуГвуГ╝уГАуГлуВжуВгуГ│уГЙуВжЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвЁЯЯвуАА-->

    <!-- уГбуВдуГ│уВ│уГ│уГЖуГ│уГД-->
    <div class="wrapper1">
        <!-- уБУуБУуБпуВ│уГ│уГЖуГ│уГД -->
    </div>

    <!-- щЦЛщЦЙчФиуГЬуВ┐уГ│ -->
    <div class="menu-btn1" id="js__btn1">
        <span data-txt-menu="MENU" data-txt-close="CLOSE"></span>
    </div>

    <!-- уГвуГ╝уГАуГлуГбуГЛуГеуГ╝ -->
    <nav class="menu1" id="js__nav1">
        <ul>
          <li><a href="http://localhost:3000/top">MAP</a></li>
          <li><a href="http://localhost:3000/ranking">ч╖ПхРИуГйуГ│уВнуГ│уВ░</a></li>
          <li><a href="http://localhost:3000/ranking2">хАдцо╡уГйуГ│уВнуГ│уВ░</a></li>
          <li><a href="http://192.168.1.198:3000/top">MAP</a></li>
          <li><a href="http://192.168.1.198:3000/ranking">ч╖ПхРИуГйуГ│уВнуГ│уГ│уВ░</a></li>
            <li><a href="http://192.168.1.198:3000/ranking2">хАдцо╡уГйуГ│уВнуГ│уВ░</a></li>
          <li><a href="http://192.168.100.101:3000/top">MAP</a></li>
          <li><a href="http://192.168.100.101:3000/ranking">ч╖ПхРИуГйуГ│уВнуГ│уГ│уВ░</a></li>
          <li><a href="http://192.168.100.101:3000/ranking2">хАдцо╡уГйуГ│уВнуГ│уГ│уВ░</a></li>

        </ul>
    </nav>





  <!-- ЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбуГвуГ╝уГАуГлуВжуВгуГ│уГЙуВжЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбЁЯЯбуАА-->




  <!--jQueryцЬмф╜У-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!--шЗкхИЖуБзф╜ЬуВЛjQueryуГЧуГнуВ░уГйуГа-->
  <script>
    $(function () {
        var $body = $('body');

        //щЦЛщЦЙчФиуГЬуВ┐уГ│уВТуВпуГкуГГуВпуБзуВпуГйуВ╣уБохИЗцЫ┐уБИ
        $('#js__btn1').on('click', function () {
            $body.toggleClass('open');
        });

        //уГбуГЛуГеуГ╝хРНф╗ехдЦуБощГихИЖуВТуВпуГкуГГуВпуБзщЦЙуБШуВЛ
        $('#js__nav1').on('click', function () {
            $body.removeClass('open');
        });
    });
  </script>



  </body>
</html>
